
<!-- container -->
<div class="container">
    <section>
        <div class="content-wrap">
            <div class="page-links"></div>
            <div id="posts" class="clearfix text-center">
                <div class='block col-sm-4' id={{'post-'+key}} ng-repeat="(key, value) in postsResult">
                    <ng-post post-obj="value" single-post="singlePost" comments-obj="commentsObj"></ng-post>
                </div>
            </div>

            <!-- Modal -->
            <div id='myModal' class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="modal-title">{{singlePost.title}}</h4>
                        </div>
                        <div class="modal-body" id="modal-body">{{singlePost.body}}</div>
                        <div class="modal-comments" id="comments">
                            <h4>Comments:</h4>
                            <blockquote class="wrap" ng-repeat="(key, value) in commentsObj.result">
                                <p>{{value.body}}</p>
                                <p class="pull-right"><i>-{{value.email}}</i></p>
                            </blockquote>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
